<div class="container">
  <div class="row">
<form action='/admin/posts/fake' method='post' >
    <div class='form-group'>
        <label for="title">title </label>
        <input name="amount" type="text" class="form-control" id="title" >
    </div>

<button type="submit">submit </buttn>
<form>
</div>
<div class='row'>



<canvas id="myChart" width="1000" height="400"></canvas>

</div>


</div>
